body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0288d1;
}

label {
    display: block;
    margin: 20px;
    font-size: 1.2em;
    color: #0277bd;
}

select, input[type="text"], button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #0277bd;
    border-radius: 5px;
    width: 80%;
}

#student-info {
    text-align: center;
    margin: 20px;
}

#student-info p {
    font-size: 1.2em;
    color: #01579b;
}

button {
    background-color: #0288d1;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #01579b;
}
